<div
  class="grid gap-2 p-4"
  [style.grid-template-columns]="'repeat(auto-fill, minmax(' + gridSize() + 'px, 1fr))'"
>
  @for (file of files(); track file.id) {
    <div
      (click)="$event.stopPropagation(); onSelect.emit(file.id)"
      (dblclick)="onNavigate.emit(file)"
      class="group flex flex-col items-center p-2 rounded-xl border-2 border-transparent transition-all cursor-default select-none"
      [class.bg-gnome-blue/10]="selectedId() === file.id"
      [class.border-gnome-blue/20]="selectedId() === file.id"
      [class.hover:bg-gnome-blue/5]="selectedId() !== file.id"
    >
      <div
        [style.width.px]="gridSize() * 0.7"
        [style.height.px]="gridSize() * 0.7"
        class="mb-1 flex items-center justify-center relative"
      >
        @if (file.url && isImage(file.name)) {
          <img
            [src]="file.url"
            [style.height.px]="gridSize() * 0.7"
            [style.width.px]="gridSize() * 0.7"
            class="object-cover rounded-lg shadow-sm border border-black/5 group-active:scale-95 transition-transform animate-fade-in"
          />
        } @else {
          <i
            [class]="file.icon"
            [style.color]="file.color || '#3584e4'"
            [style.font-size.px]="gridSize() * 0.4"
            class="drop-shadow-sm transition-transform group-active:scale-95"
          ></i>
        }
      </div>

      <span
        class="leading-tight font-medium text-center line-clamp-2 px-1 break-words w-full"
        [style.font-size.px]="gridSize() * 0.1 + 1"
        [class.text-gnome-blue]="selectedId() === file.id"
      >
        {{ $any(lang.t().files)[file.id.toLowerCase()] || file.name }}
      </span>
    </div>
  }
</div>
